<div class = "row">
    <div class = "col-sm-6">
        <div class="bg-image card shadow-1-strong"  style="background-image:url('https://www.games-workshop.com/resources/touts/2022-01-22/GW-Astra-Millitarum-Range-2022-01-22-HPMulticol-All-bm.jpg');">
            <div class="card-body text-white">
               <br><br><br><br><br><br><br><br><br><br><br><br>
               <h5 class="card-title">Hammer of the Emperor</h5>
              <p class="card-text">Humanity's finest stand ready to drive back heretics and <br>xenos.    </p>
              <a href="#" class="btn btn-warning">See the full range</a>
            </div>
         </div>
    </div>
    <div class = "col-sm-6">
        <div class="bg-image card shadow-1-strong"  style="background-image:url('https://www.games-workshop.com/resources/touts/2022-01-22/GW-Ork-Range-2022-01-29-HPMulticol-All-bm.jpg');">
            <div class="card-body text-white">
               <br><br><br><br><br><br><br><br><br><br><br><br>
               <h5 class="card-title">Green is da Best</h5>
              <p class="card-text">Grab yer shootas, lads, da Waaagh! <br>is 'ere and there's fightin' to do.</p>
              <a href="#" class="btn btn-warning">Take a closer look</a>
            </div>
         </div>
    </div> 
</div>