This is Age of Sigmar!
<div class="bg-light">
    <div class="container-fluid px-5">
        <div class="row">
            <div class="col-3">
                This is where the accordion will go
                <gw-BackToTop>Loading . . .</gw-BackToTop>
            </div>
            <div class="col">
                <div class="row px-0">
                    <gw-AOSMain>Loading . . .</gw-AOSMain>

                </div>
                <div class="row px-0 pt-2">
                    <gw-AOSSupport>Loading . . .</gw-AOSSupport>
                </div>
                <div class="row px-0 py-2">
                    <img
                        src="https://www.games-workshop.com/resources/touts/2021-10-23/GW-Bestsellers-2021-10-23-TextHeader-EN-bm.jpg">
                </div>

            </div>
        </div>

    </div>
</div>