<nav class="navbar navbar-expand-lg navbar-Dark bg-black">
    <div class="container-fluid">
        <ul class="nav justify-content-center">
        <button type="nav-item button" class="btn btn-black btn-lg text-white">New & <br> Exclusive</button>
        <button type="nav-item button" class="btn btn-black btn-lg">
            <img src="assets/Warhammer-AOS-Logo.jpeg"alt="" width="200" height="75" class="d-inline-block align-text-top">
        </button>
        <button type="nav-item button" class="btn btn-black btn-lg">
            <img src="assets/Warhammer40klogo.jpeg"alt="" width="200" height="75" class="d-inline-block align-text-top">
        </button>
        <button type="nav-item button" class="btn btn-black btn-lg">
            <img src="assets/MiddleEarth-Logo.jpeg"alt="" width="200" height="75" class="d-inline-block align-text-top">
        </button>
        <button type="nav-item button" class="btn btn-black btn-lg">
            <img src="assets/BlackLibrary-logo.jpeg"alt="" width="200" height="75" class="d-inline-block align-text-top">
        </button>
        <button type="nav-item button" class="btn btn-black btn-lg text-white">Painting & <br> Modeling</button>
        <button type="nav-item button" class="btn btn-black btn-lg text-white">Boxed<br>Games</button>
        <button type="nav-item button" class="btn btn-black btn-lg text-white">Gifts</button>
        <button type="nav-item button" class="btn btn-black btn-lg">
            <img src="assets/WarhammerCommunity-Logo.jpeg"alt="" width="200" height="75" class="d-inline-block align-text-top">
        </button>
        </ul>
    </div>
  </nav>