<nav class="navbar navbar-expand-lg navbar-Dark bg-black">
    <div class="container-fluid">
        <button type="nav-item button" class="btn btn-black btn-lg text-white">New & <br> Exclusive</button>
        <button type="nav-item button" class="btn btn-black btn-lg">
            <img src="https://www.games-workshop.com/resources/static/header-2017/New_AOS_Logo.png"alt="" width="200" height="75" class="d-inline-block align-text-top">
        </button>
        <button type="nav-item button" class="btn btn-black btn-lg">
            <img src="https://www.games-workshop.com/resources/static/header-2017/40k-nav-logo.png"alt="" width="200" height="75" class="d-inline-block align-text-top">
        </button>
        <button type="nav-item button" class="btn btn-black btn-lg">
            <img src="https://www.games-workshop.com/resources/static/header-2017/LOTR_NavBar_Logo.png"alt="" width="200" height="75" class="d-inline-block align-text-top">
        </button>
        <button type="nav-item button" class="btn btn-black btn-lg">
            <img src="https://www.games-workshop.com/resources/static/header-2017/GW-BL-Logo-Update.png"alt="" width="200" height="75" class="d-inline-block align-text-top">
        </button>
        <button type="nav-item button" class="btn btn-black btn-lg text-white">Painting & <br> Modeling</button>
        <button type="nav-item button" class="btn btn-black btn-lg text-white">Boxed<br>Games</button>
        <button type="nav-item button" class="btn btn-black btn-lg text-white">Gifts</button>
        <button type="nav-item button" class="btn btn-black btn-lg">
            <img src="https://www.games-workshop.com/resources/static/header-2017/warhammer-community-logo.png"alt="" width="200" height="75" class="d-inline-block align-text-top">
        </button>
    </div>
  </nav>