<div class = "row">
    <div class = "col-sm-4">
        <div class="bg-image card shadow-1-strong"  style="background-image:url('https://www.games-workshop.com/resources/touts/2022-01-01/GW-Mozrog-Skragbad-2022-01-01-New-HPMulticol-All-bm.jpg');">
            <div class="card-body text-black">
               <br><br><br><br><br><br><br><br><br><br><br><br>
               <h5 class="card-text">Mozrog Skragbad</h5>
              <a href="#" class="btn btn-warning">Buy Now</a>
            </div>
         </div>
    </div>
    <div class = "col-sm-4">
        <div class="bg-image card shadow-1-strong"  style="background-image:url('https://www.games-workshop.com/resources/touts/2022-01-15/GW-SC-Fyreslayers-2022-15-01-ProductHPMulticol-All-bm.jpg');">
            <div class="card-body text-black">
               <br><br><br><br><br><br><br><br><br><br><br><br>
               <h5 class="card-text">Start collecting! Fyreslayers</h5>
              <a href="#" class="btn btn-warning">Buy Now</a>
            </div>
         </div>
    </div> 
    <div class = "col-sm-4">
        <div class="bg-image card shadow-1-strong"  style="background-image:url('https://www.games-workshop.com/resources/touts/2022-01-08/GW-Shadowsun-2022-01-08-New-HPMulticol-All-bm.jpg');">
            <div class="card-body text-black">
               <br><br><br><br><br><br><br><br><br><br><br><br>
               <h5 class="card-text">Commander Shadowsun</h5>
            <a href="#" class="btn btn-warning">Buy Now</a>
            </div>
         </div>
    </div> 
</div>