<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{img1}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{title1}}</h5>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <p class="card-text">{{price1}}</p>

                            </div>
                            <div class="col justify-content-end">
                                <button type="button" class="btn btn-warning btn-sm">Pre-Order
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                            </div>
                                            <div class="col">
                                                <img src="https://www.games-workshop.com/static/img/svg-icons/baseline-add_shopping_cart-24px.svg"
                                                    alt="" width="30" height="30" class="d-inline-block align-text-top">

                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{img2}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{title2}}</h5>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <p class="card-text">{{price2}}</p>

                            </div>
                            <div class="col justify-content-end">
                                <button type="button" class="btn btn-warning btn-sm">Pre-Order
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                            </div>
                                            <div class="col">
                                                <img src="https://www.games-workshop.com/static/img/svg-icons/baseline-add_shopping_cart-24px.svg"
                                                    alt="" width="30" height="30" class="d-inline-block align-text-top">

                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{img3}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{title3}}</h5>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <p class="card-text">{{price3}}</p>

                            </div>
                            <div class="col justify-content-end">
                                <button type="button" class="btn btn-warning btn-sm">Pre-Order
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                            </div>
                                            <div class="col">
                                                <img src="https://www.games-workshop.com/static/img/svg-icons/baseline-add_shopping_cart-24px.svg"
                                                    alt="" width="30" height="30" class="d-inline-block align-text-top">

                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>