<div class="card bg-dark text-white">
    <img class="card-img" src="https://www.games-workshop.com/resources/touts/2022-02-12/GW-Warcry-2022-02-12-Portal-All-bm_.jpg" alt="Card image">
    
    <div class="card-img-overlay">
        <br><br><br>
        
        <img class="img-fluid" src="https://www.games-workshop.com/resources/touts/Embedded-Medias/AoS/warcry-logo.png">
      <h5 class="card-title">Conquer the Bloodwind spoil</h5>
      <p class="card-text">Warcry bring action-packed skirmish<br>battles to the Moral Realms.</p>
      <button type="button" class="btn btn-warning">See the Full Range</button>
    </div>
  </div>