<div class = "row">
    <div class = "col-sm-4">
        <div class="bg-image card shadow-1-strong first" style = "background-image: url({{img1}})">
            <div class="card-body text-black">
               <br><br><br><br><br><br><br><br><br><br><br><br>
               <h5 class="card-text">{{title1}}</h5>
              <a href="#" class="btn btn-warning">Buy Now</a>
            </div>
         </div>
    </div>
    <div class = "col-sm-4">
        <div class="bg-image card shadow-1-strong second" style = "background-image: url({{img2}})">
            <div class="card-body text-black">
               <br><br><br><br><br><br><br><br><br><br><br><br>
               <h5 class="card-text">{{title2}}</h5>
              <a href="#" class="btn btn-warning">Buy Now</a>
            </div>
         </div>
    </div> 
    <div class = "col-sm-4">
        <div class="bg-image card shadow-1-strong third" style = "background-image: url({{img3}})">
            <div class="card-body text-black">
               <br><br><br><br><br><br><br><br><br><br><br><br>
               <h5 class="card-text">{{title3}}</h5>
            <a href="#" class="btn btn-warning">Buy Now</a>
            </div>
         </div>
    </div> 
</div>