div.bg-image.first{
    background-position : center;
    background-size : cover;
}

div.bg-image.second{
    background-position:center;
    background-size:cover;
}

div.bg-image.third{
    background-position:center;
    background-size:cover;
}