<div class="container pe-0">
    <div class="row">
        <div class="col">
            <div class="card" >
                <img class="card-img-top" src="{{img1}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{title1}}</h5>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-text">{{price1}}</h5>

                            </div>
                            <div class="col justify-content-end">
                                <button type="button" class="btn btn-warning btn-sm" style="height:fit-content">
                                    <div class="d-flex align-items-middle">
                                    <p><small>Pre-Order</small></p>
                                    <img src="https://www.games-workshop.com/static/img/svg-icons/baseline-add_shopping_cart-24px.svg"
                                        alt="" width="20" height="20" class="d-inline-block align-text-top">
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col justify-content-end">
                                <button type="button" class="btn btn-sm btn-secondary" disabled>
                                    <div class="d-flex align-items-middle">
                                        <p><small>Gift List  </small></p>
                                        <img src="https://www.games-workshop.com/static/img/svg-icons/baseline-loyalty-24px.svg"
                                         alt="" width="20" height="20" class="d-inline-block align-text-top">
                                        </div> 
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="{{img2}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{title2}}</h5>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-text">{{price2}}</h5>

                            </div>
                            <div class="col justify-content-end">
                                <button type="button" class="btn btn-warning btn-sm" style="height:fit-content">
                                    <div class="d-flex align-items-center">
                                    <p><small>Pre-Order</small></p>
                                    <img src="https://www.games-workshop.com/static/img/svg-icons/baseline-add_shopping_cart-24px.svg"
                                        alt="" width="20" height="20" class="d-inline-block align-text-top">
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col justify-content-end">
                                <button type="button" class="btn btn-sm btn-secondary" disabled>
                                    <div class="d-flex align-items-middle">
                                        <p><small>Gift List  </small></p>
                                        <img src="https://www.games-workshop.com/static/img/svg-icons/baseline-loyalty-24px.svg"
                                         alt="" width="20" height="20" class="d-inline-block align-text-top">
                                        </div> 
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="{{img3}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{title3}}</h5>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-text">{{price3}}</h5>

                            </div>
                            <div class="col justify-content-end">
                                <button type="button" class="btn btn-warning " style="height:fit-content">
                                    <div class="d-flex align-items-middle">
                                    <p><small>Pre-Order  </small></p>
                                    <img src="https://www.games-workshop.com/static/img/svg-icons/baseline-add_shopping_cart-24px.svg"
                                        alt="" width="20" height="20" class="d-inline-block align-text-top">
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col justify-content-end">
                                <button type="button" class="btn btn-sm btn-secondary" disabled>
                                    <div class="d-flex align-items-middle">
                                        <p><small>Gift List  </small></p>
                                        <img src="https://www.games-workshop.com/static/img/svg-icons/baseline-loyalty-24px.svg"
                                         alt="" width="20" height="20" class="d-inline-block align-text-top">
                                        </div> 
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>