<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Contact Us</a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class = "navbar-brand" href="#">Gift Lists</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="#">
          <img src="/home/loud/angular-workspace/games-workshop/src/assets/White-Warhammerlogo.jpeg"alt="" width="30" height="24" class="d-inline-block align-text-top">
          Sign in / Register
        </a>
        </li>
      </ul>        
       
     </div>
  </nav>