<nav class="navbar navbar-dark bg-black">
    <div class="container-fluid">
      <button type="button" class="btn btn-black btn-sm text-white">Contact Us</button>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <button type="button" class="btn btn-black btn-sm text-white">Gift Lists</button>
        </li>
        <li class="nav-item">
          <button type="button" class= "btn btn-black btn-sm text-white">
          <img src="assets/White-Warhammerlogo.jpeg"alt="" width="30" height="30" class="d-inline-block align-text-top">
          Sign in / Register
        </button>
        </li>
      </ul>        
       
     </div>
  </nav>